
<% if current_user_session %>
    <h2>Welcome <%= current_user.name %></h2>
    <%=	button_to 'Log out', '/user_sessions/log_out', method: :get  %>
<% else %>
    <%= form_for @user_session do |f| %>
        <% if @user_session.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user_session.errors.count, 'error') %> prohibited:</h2>
              <ul>
                <% @user_session.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <%= f.label :email %><br />
        <%= f.text_field :email %><br />
        <br />
        <%= f.label :password %><br />
        <%= f.password_field :password %><br />
        <br />
        <%= f.submit 'Login' %>
    <% end %>
    <%=	 form_for @snap_login do |f| %>
        <input type="hidden" id="full_url" value="<%= request.protocol + @local_ip + ':' + request.port.to_s + snap_login_path(@snap_login) %>"/>
        <input type="hidden" id="same_origin_url" value="<%= snap_login_url(@snap_login) %>"/>
        <%= f.label :token %>
        <%=	f.text_field :token %>
        <br />
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br />
        <%= f.submit 'Login' %>
    <% end %>
    <p>Or use your smartphone to scan this code</p>
    <div id="qrcode">
        <div id="code"></div>
        <p data-bind="text: url()"></p>
        <p data-bind="text: 'auth challenge: ' + challenge()"></p>
        <button data-bind="click: regenerate"> refresh challenge</button>
    </div>
<% end %>



